@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --blue-strong: #003366; 

}

*{
    padding: 0;
    margin: 0;
    font-family: 'Instrument Sans', serif;
} 

.main{
    height: calc(100vh - 10vh); 

}
.title-main {
    padding-top: 15vh;
    padding-bottom: 1vh;
    font-size: 2rem; 
    color: var(--blue-strong) ; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    margin-top: 10vh;
    text-align: center; 
}
