@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Instrument Sans', serif;

}

.title-main {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  font-size: 30px;
  color: #1e5b8e;
  width: 100%;     
  margin: 0;/* O contêiner vai ocupar toda a largura disponível */
}

/* Estilo para o container da imagem */
.recognition-image {
  padding-left: 15vh;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

/* Container do campo de upload de imagem e botão */
.upload-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
}
.title-input{
  color:#1e5b8e;
  font-size: 25px;
}
/* Estilo do campo de upload de arquivo (parte do "Escolher arquivo" e "Nenhum arquivo selecionado") */
.upload-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #d3d3d3; /* Borda cinza claro */
  border-radius: 10px;
  padding: 10px;
  width: 100%;

  background-color: transparent; /* Manter fundo transparente */
}

/* Estilo do texto "Escolher arquivo" (clicável e com fundo cinza claro) */
.upload-label {
  margin: 0;
  padding: 0;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* Estilo do texto "Nenhum arquivo selecionado" */
.upload-file-name {
  color: black;
  font-weight: normal;
  font-size: 1rem;
  flex-grow: 1; /* Faz com que ocupe o restante do espaço disponível */
  margin-left: 10px;
  background-color: white; /* Fundo branco para a área de texto */
  padding: 10px;
  border-radius: 5px;

}

/* Escondendo o campo real de input */
.upload-input {
  display: none; /* Esconde o campo de input real */
}

/* Estilo do botão de envio */
.submit-button {
  padding: 12px 25px;
  background-color: #2A76C1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #1e5b8e;
}