:root {
    --blue-color: #2A76C1; /* Azul */
    --white-color: white; /* Branco */
}

/* Container principal */
.container {
    display: flex; /* Definição de layout */
    justify-content: center; /* Alinha horizontalmente no meio */
    align-items: flex-start; /* Alinha ao topo da tela */
    height: 100vh; /* 100% da altura da tela */
    padding-top: 2rem; /* Espaço entre o topo da tela e a grid */
    box-sizing: border-box; /* Garante que o padding seja incluído nas dimensões */
}

/* Layout da grid com 2 colunas */
.box-recognition {
    display: grid; /* Definição de layout */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas de largura igual */
    grid-template-rows: repeat(2, auto); /* Linhas automáticas conforme o conteúdo */
    gap: 2rem; /* Espaço entre as caixas */
    width: 100%; /* 100% da largura do contêiner */
    max-width: 62.5rem; /* Limita a largura máxima da grid (1000px) */
    margin: 0 auto; /* Centraliza a grid horizontalmente */
    padding-top: 2rem; /* Espaço entre o topo da tela e a grid */
    box-sizing: border-box; /* Garante que o padding seja incluído nas dimensões */
}

/* Estilo das caixas */
.box {
    display: flex; /* Definição de layout */
    flex-direction: column; /* Organiza o conteúdo em coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    width: 31.25rem; /* Largura das caixas */
    height: 15.625rem; /* Altura das caixas */
    padding: 1.25rem; /* Padding ajustado */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */

    background-color: var(--blue-color); /* Cor de fundo das caixas */
    border-radius: 0.625rem; /* Caixas levemente arredondadas */
    text-align: center; /* Centraliza o texto */
}

.box a {
    text-decoration: none; /* Remove o sublinhado de links */
}

/* Estilo da imagem dentro das caixas */
.box-imagem {
    max-width: 100%; /* Ajusta a largura da imagem para não ultrapassar a caixa */
    max-height: 60%; /* Ajusta a altura da imagem para não ultrapassar a caixa */
    height: auto;
    object-fit: contain; /* Garante que a imagem mantenha sua proporção */
}

/* Estilo do título dentro das caixas */
.box-title {
    color: var(--white-color); /* Cor do título */
    font-size: 1.5rem; /* Tamanho da fonte */
    padding-top: 1vh; /* Espaço superior */
    margin-top: 1rem; /* Espaço entre a imagem e o título */
}

/* Responsividade */
@media (max-width: 48rem) { /* 768px */
    .box-recognition {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        grid-template-rows: repeat(4, auto); /* Quatro linhas automáticas */
        width: 90%; /* Aumenta a largura das caixas em telas menores */
    }

    .box {
        width: 90%; /* Largura ajustada para 90% em telas menores */
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
    }
}
